<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOperationService" />
        <binding name="BasicHttpBinding_IDatabaseService" />
        <binding name="BasicHttpBinding_IAuthenticationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/OperationService/OperationService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperationService"
          contract="IOperationService" name="BasicHttpBinding_IOperationService" />
      <endpoint address="http://localhost:8000/DatabaseService/DatabaseService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService"
          contract="IDatabaseService" name="BasicHttpBinding_IDatabaseService" />
      <endpoint address="http://localhost:8000/AuthenticationService/AuthenticationService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
          contract="IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
    </client>
  </system.serviceModel>
</configuration>
